**/.DS_Store
**/.idea
**/dist
**/.vagrant
**/target
**/*.swp
**/node_modules/*
**/*.log
**/application.home_IS_UNDEFINED
**/logs
**/.cache-main
**/.cache-tests
**/.classpath
**/.project
**/.settings/
**/scala-2.11
**/scala-2.10
**/app-2.11
**/test-2.11